.link {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  background-color: black;
  position:relative;
}

.name {
    position: absolute;
    opacity: 0%;
    transition: opacity .2s ease-out;
    width: 85%;
    text-align: center;
}

.link:hover {
    .name {
        opacity: 100%;
        color: white;
    }
    
    .img {
        opacity: 75%;
    }
}

.contain {
    
}

.img {
    width: 100%;
    opacity: 100%;
    transition: opacity .2s ease-out;
}